<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SetRoll</title>
</head>
<body>
    <div id="SugestAdmin">
        <label for="NameLabel">name</label>
        <input type="text" id="NameLabel" placeholder="AdminName" name="name" onchange="change()">
    </div>

    <div id="SugestList">
        <section id="SugestListSelect" >

        </section>
    </div>

    <div>
        <input type="text" name="name" id="AdminName">
    </div>
    
</body>
</html>