<div>

    <div id="Err" class="Error">
        
    </div>
    <form method="post" action="/University/Add">

        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name" placeholder="University Name" >
        </div>

        <div>
            <label for="Wilaya">Wilaya</label>
            <select name="idWilaya" id="Wilaya">
                <% for(let i=0;i<Wilayas.length;i++){ %>
                <option value="<%= Wilayas[i].idWilaya  %>" ><%=   Wilayas[i].Name %></option>
                <% } %> 
            </select>
        </div>

        <button onclick="ClickSubmitAddUniversity()">Valide</button>

    </form>
</div>



<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="javascript/Scholar/University.js">
 
   </script>

    