<div>

    <!--idUniversity,U.name as University ,U.Archived as Archived,W.idWilaya, W.name as Wiayala-->
    <div class="SearchBar">
        <input type="text" onchange="tap()" name="University" id="SearchUniversityByName" placeholder="University name" >
        <input type="text" onchange="tap()" name="Wilaya" id="SearchUniversityByWilaya" placeholder="Wilaya" >
   
    </div>


<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="javascript/Scholar/University.js"></script>

</div>