<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University <%= University.name  %> </title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="javascript/Scholar/University.js"></script>

</head>
<body>


    <!-- Header -->


    <div class="FacultyInUniversity">
        <!--require University Package {name,idUniversity}-->
        <div class="AddFaculty">

        </div>

        <div class="SearchFaculty">

        </div>

        <div class="FacultyList">

        </div>
    </div>


    <div class="DepartementInFaculty">

            <div class="AddDepartement">

            </div>

            <div class="SearchDepartement">

            </div>

            <div class="DepartementList">

            </div>
    </div>


</body>
</html>