<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuff</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div>
            <div>
                <label>Professor</label>
                <form>
                    <div>
                        <label for="matricule">Matricule</label>
                        <input type="text" name="matricule" id="matricule" placeholder="matricule" >
                    </div>
                  
                    <div>
                        <label for="password">Matricule</label>
                        <input type="password" name="password" id="password" placeholder="password" >
                    </div>
                    <button type="submit"> Connect </button>
            </div>
        </div>

        <div>
            <div>
                <label>Admin</label>
                <form>
                    <div>
                        <label for="name">Matricule</label>
                        <input type="text" name="name" id="name" placeholder="name" >
                    </div>
                  
                    <div>
                        <label for="password">Matricule</label>
                        <input type="password" name="password" id="password" placeholder="password" >
                    </div>
                    <button type="submit"> Connect </button>
            </div>
        </div>
    </main>

</body>
</html>