<div>

    <div id="ErrAddFaculty" class="Error">
        
    </div>


        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name" placeholder="Faculty Name" >
        </div>

        <div>
            <label ><%= University.name %> </label>
            <input type="hidden" name="idUniversity" id="idUniversity" value="<%= University.idUniversity %>">
        </div>


        <button onclick="ClickSubmitAddFaculty()">Valide</button>

  
</div>

<script src="/Scholar/Faculty.js"></script>



    