<div>

    <div>

        <div id="FacutyListErr">

        </div>

        <div  class="FacultyList" id="FList">
           
        </div>

        <% if(Element>20){ %> 
            <input type="hidden" id="LastFacultyId" value="0">
            <button onclick="GetMore()"  >Get More</button>
        <% } %>     
    </div>

</div>

<script src="/javascript/Scholar/Faculty.js"></script>
