<div>
    <form>

        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name" placeholder="University Name" >
        </div>

        <div>
            <label for="Wilaya">Wilaya</label>
            <select name="idWilaya" id="Wilaya">
                <% for(let ) %>
                <option></option>
            </select>
        </div>


    </form>
</div>