
        <div>
            <form method="post">

                <div>
                    <label for="firstname">firstname</label>
                    <input type="text" name="firstname" id="firstname" placeholder="fisrtname">
                </div>

                <div>
                    <label for="lastname">lastname</label>
                    <input type="text" name="lastname" id="lastname" placeholder="lastname">
                </div>

                <div>
                    <label for="Matricule">Matricule</label>
                    <input type="text" name="matricule" id="Matricule" placeholder="Matricule">
                </div>

                <div>
                    <label for="bac_year">Bac Year</label>
                    <input type="number" name="bac_year" id="bac_year" placeholder="bac_year">
                </div>
                
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" placeholder="password">
                </div>

                <button type="submit">Valide</button>

            </form>
        </div>
  