<div>
    <form>
        <div>
            <% if(Session = "Admin"){ %>
            <div>
                <label for="Matricule">Matricule</label>
                <input type="text" name="matricule" id="Matricule" placeholder="Matricule">
            </div>

            <div>
                <label for="Archived">Archived</label>
                <input type="checkbox" name="Archived" id="Archived" >
            </div>

            <% } %>
            
            
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" placeholder="password">
            </div>

            <button type="submit">Valide</button>
        </div>
    </form>
</div>